.base-theme {
  --spacing-base-unit: 8px;
  --spacing-base-xs: 8px;
  --spacing-base-sm: 16px;
  --spacing-base-md: 24px;
  --spacing-base-lg: 32px;
  --spacing-base-xl: 40px;
  --spacing-base-xxl: 48px;
  --spacing-base-none: 0px;
  --color-base-neutral-dark-10: 0 0% 36%;
  --color-base-neutral-dark-20: 0 0% 32%;
  --color-base-neutral-dark-30: 0 0% 28%;
  --color-base-neutral-dark-40: 0 0% 24%;
  --color-base-neutral-dark-50: 0 0% 20%;
  --color-base-neutral-dark-60: 0 0% 16%;
  --color-base-neutral-dark-70: 0 0% 12%;
  --color-base-neutral-dark-80: 0 0% 8%;
  --color-base-neutral-dark-90: 0 0% 4%;
  --color-base-neutral-dark-100: 0 0% 0%;
  --color-base-dark-blue-10: 204 5% 81%;
  --color-base-dark-blue-20: 207 6% 70%;
  --color-base-dark-blue-30: 207 5% 58%;
  --color-base-dark-blue-40: 208 6% 47%;
  --color-base-dark-blue-50: 208 9% 35%;
  --color-base-dark-blue-60: 209 17% 24%;
  --color-base-dark-blue-70: 207 17% 20%;
  --color-base-dark-blue-80: 210 16% 17%;
  --color-base-dark-blue-90: 210 18% 13%;
  --color-base-dark-blue-100: 207 18% 10%;
  --color-base-blue-10: 225 66% 86%;
  --color-base-blue-20: 225 65% 78%;
  --color-base-blue-30: 225 66% 69%;
  --color-base-blue-40: 225 65% 61%;
  --color-base-blue-50: 225 65% 52%;
  --color-base-blue-60: 225 83% 44%;
  --color-base-blue-70: 225 83% 37%;
  --color-base-blue-80: 225 83% 31%;
  --color-base-blue-90: 225 84% 24%;
  --color-base-blue-100: 225 82% 18%;
  --color-base-red-10: 0 62% 86%;
  --color-base-red-20: 0 62% 77%;
  --color-base-red-30: 0 61% 68%;
  --color-base-red-40: 0 62% 60%;
  --color-base-red-50: 0 61% 51%;
  --color-base-red-60: 0 83% 43%;
  --color-base-red-70: 0 84% 36%;
  --color-base-red-80: 0 83% 30%;
  --color-base-red-90: 0 83% 23%;
  --color-base-red-100: 0 84% 17%;
  --color-base-green-10: 134 41% 83%;
  --color-base-green-20: 133 40% 73%;
  --color-base-green-30: 133 40% 63%;
  --color-base-green-40: 134 41% 53%;
  --color-base-green-50: 133 53% 43%;
  --color-base-green-60: 133 82% 33%;
  --color-base-green-70: 133 82% 28%;
  --color-base-green-80: 133 81% 23%;
  --color-base-green-90: 133 83% 18%;
  --color-base-green-100: 133 82% 13%;
  --color-base-navy-10: 208 27% 81%;
  --color-base-navy-20: 209 27% 70%;
  --color-base-navy-30: 208 27% 58%;
  --color-base-navy-40: 209 30% 47%;
  --color-base-navy-50: 208 49% 36%;
  --color-base-navy-60: 209 84% 25%;
  --color-base-navy-70: 209 83% 21%;
  --color-base-navy-80: 208 84% 17%;
  --color-base-navy-90: 208 83% 14%;
  --color-base-navy-100: 209 84% 10%;
  --color-base-pink-10: 306 33% 82%;
  --color-base-pink-20: 306 33% 71%;
  --color-base-pink-30: 306 33% 60%;
  --color-base-pink-40: 306 34% 49%;
  --color-base-pink-50: 306 53% 38%;
  --color-base-pink-60: 306 87% 28%;
  --color-base-pink-70: 306 87% 24%;
  --color-base-pink-80: 306 88% 19%;
  --color-base-pink-90: 307 87% 15%;
  --color-base-pink-100: 306 86% 11%;
  --font-face-base-sans-serif: 'Inter', Helvetica, Arial, sans-serif;
  --font-face-base-serif: Baskerville;
  --font-face-base-mono: 'Consolas', Courier, monospace;
  --font-size-display-xs: 0.875rem;
  --font-size-display-sm: 1rem;
  --font-size-display-md: 1.125rem;
  --font-size-display-lg: 1.5rem;
  --font-size-display-xl: 2rem;
  --font-size-display-xxl: 3rem;
  --font-size-label-xs: 0.75rem;
  --font-size-label-sm: 0.8125rem;
  --font-size-label-md: 0.875rem;
  --font-size-label-lg: 1rem;
  --font-size-label-xl: 1.0625rem;
  --font-size-label-xxl: 1.125rem;
  --font-size-body-sm: 0.875rem;
  --font-size-body-md: 1rem;
  --font-size-body-lg: 1.125rem;
  --font-weight-base-thin: 300;
  --font-weight-base-regular: 400;
  --font-weight-base-medium: 500;
  --font-weight-base-bold: 600;
  --radius-base-min: 4px;
  --radius-base-xs: 8px;
  --radius-base-sm: 12px;
  --radius-base-md: 24px;
  --radius-base-lg: 48px;
  --radius-base-xl: 64px;
  --radius-base-round: 50%;
  --color-base-neutral-light-10: 0 0% 64%;
  --color-base-neutral-light-20: 0 0% 68%;
  --color-base-neutral-light-30: 0 0% 72%;
  --color-base-neutral-light-40: 0 0% 76%;
  --color-base-neutral-light-50: 0 0% 80%;
  --color-base-neutral-light-60: 0 0% 84%;
  --color-base-neutral-light-70: 0 0% 88%;
  --color-base-neutral-light-80: 0 0% 92%;
  --color-base-neutral-light-90: 0 0% 96%;
  --color-base-neutral-light-100: 0 0% 100%;
  --color-test-ci-trigger: orange;
}