.brand-a-theme {
  --color-primary-default: 133 82% 33%;
  --color-primary-hover: 133 82% 28%;
  --color-primary-disabled: 208 27% 81%;
  --button-radius: 48px;
  --button-padding-left: 16px;
  --button-padding-right: 16px;
  --button-height-lg: 36px;
  --button-height-sm: 24px;
  --button-typography-lg-font-family: 'Consolas', Courier, monospace;
  --button-typography-lg-font-weight: 500;
  --button-typography-lg-font-size: 1rem;
  --button-typography-lg-text-case: none;
  --button-typography-sm-font-family: 'Consolas', Courier, monospace;
  --button-typography-sm-font-weight: 500;
  --button-typography-sm-font-size: 0.75rem;
  --button-typography-sm-text-case: none;
  --button-font-family: 'Consolas', Courier, monospace;
  --color-disabled-text: 0 0% 64%;
  --color-disabled-background: 0 0% 96%;
  --color-disabled-border: 0 0% 68%;
}